<div class="jumbotron">
    <h1>LifeSouth Blood Mobile locater</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What this do</h2>
        <p>Provides service to LifeSouth blood mobile app.</p>
    </div>
</div>
